<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
 	<servlet>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<url-pattern>/legaltime/gwt-log</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>applicationSecurityServlet</servlet-name>
		<servlet-class>com.martinanalytics.legaltime.server.ApplicationSecurityServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>applicationSecurityServlet</servlet-name>
		<url-pattern>/legaltime/applicationSecurity</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LegalTime.html</welcome-file>
  </welcome-file-list>
  <resource-ref> 
        <description>Connection Pool</description> 
        <res-ref-name>jdbc/projectDS</res-ref-name> 
        <res-type>javax.sql.DataSource</res-type> 
        <res-auth>Container</res-auth> 
  </resource-ref> 
  
  
<!-- ============================= -->
    <servlet> 
        <servlet-name>customerServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.CustomerServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>customerServlet</servlet-name> 
        <url-pattern>/legaltime/customer</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>customerBillRateServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.CustomerBillRateServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>customerBillRateServlet</servlet-name> 
        <url-pattern>/legaltime/customerBillRate</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>vwCustomerHourlyBillRateServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.VwCustomerHourlyBillRateServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>vwCustomerHourlyBillRateServlet</servlet-name> 
        <url-pattern>/legaltime/vwCustomerHourlyBillRate</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>followupServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.FollowupServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>followupServlet</servlet-name> 
        <url-pattern>/legaltime/followup</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>vwCustomerFollowupServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.VwCustomerFollowupServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>vwCustomerFollowupServlet</servlet-name> 
        <url-pattern>/legaltime/vwCustomerFollowup</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>CustomerAddressLabelServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.rpt.addresslabels.CustomerAddressLabelServlet</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>CustomerAddressLabelServlet</servlet-name> 
        <url-pattern>/legaltime/CustomerAddressLabelServlet</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>userInfoServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.UserInfoServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>userInfoServlet</servlet-name> 
        <url-pattern>/legaltime/userInfo</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>laborRegisterServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.LaborRegisterServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>laborRegisterServlet</servlet-name> 
        <url-pattern>/legaltime/laborRegister</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->



<!-- ============================= -->
    <servlet> 
        <servlet-name>invoiceServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.InvoiceServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>invoiceServlet</servlet-name> 
        <url-pattern>/legaltime/invoice</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>expenseRegisterServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.ExpenseRegisterServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>expenseRegisterServlet</servlet-name> 
        <url-pattern>/legaltime/expenseRegister</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>vwInvoiceDisplayServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.VwInvoiceDisplayServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>vwInvoiceDisplayServlet</servlet-name> 
        <url-pattern>/legaltime/vwInvoiceDisplay</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>InvoiceReportServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.rpt.invoice.InvoiceReportServlet</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>InvoiceReportServlet</servlet-name> 
        <url-pattern>/legaltime/InvoiceReportServlet</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->
<!-- ============================= -->
    <servlet> 
        <servlet-name>vwLaborInvoiceItemDisplayServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.VwLaborInvoiceItemDisplayServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>vwLaborInvoiceItemDisplayServlet</servlet-name> 
        <url-pattern>/legaltime/vwLaborInvoiceItemDisplay</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->



<!-- ============================= -->
    <servlet> 
        <servlet-name>FollowupReportServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.rpt.followup.FollowupReportServlet</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>FollowupReportServlet</servlet-name> 
        <url-pattern>/legaltime/FollowupReportServlet</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>customerAccountRegisterServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.CustomerAccountRegisterServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>customerAccountRegisterServlet</servlet-name> 
        <url-pattern>/legaltime/customerAccountRegister</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->

<!-- ============================= -->
    <servlet> 
        <servlet-name>paymentLogServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.model.PaymentLogServiceImpl</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>paymentLogServlet</servlet-name> 
        <url-pattern>/legaltime/paymentLog</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->



<!-- ============================= -->
    <servlet> 
        <servlet-name>HourlyBillRateReportServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.rpt.billrates.HourlyBillRateReportServlet</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>HourlyBillRateReportServlet</servlet-name> 
        <url-pattern>/legaltime/HourlyBillRateReportServlet</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>MonthlyClientReportServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.rpt.monthlyclient.MonthlyClientReportServlet</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>MonthlyClientReportServlet</servlet-name> 
        <url-pattern>/legaltime/MonthlyClientReportServlet</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


<!-- ============================= -->
    <servlet> 
        <servlet-name>HourlyClientReportServlet</servlet-name> 
        <servlet-class>com.martinanalytics.legaltime.server.rpt.hourlyclient.HourlyClientReportServlet</servlet-class> 
    </servlet> 
 
    <servlet-mapping> 
        <servlet-name>HourlyClientReportServlet</servlet-name> 
        <url-pattern>/legaltime/HourlyClientReportServlet</url-pattern> 
    </servlet-mapping> 
<!-- ============================= -->


</web-app>
